load_dataset        	True
num_prev_utterances 	400
use_builder_actions 	False
feasible_next_placements	True
dropout             	0.5
rnn                 	gru
rnn_hidden_size     	300
num_encoder_hidden_layers	1 2
num_decoder_hidden_layers	1 2
bidirectional       	False
train_embeddings    	False
set_decoder_hidden  	True
concatenate_decoder_hidden	True
decoder_hidden_concat_size	18
bypass_counter_embedding	True