num_prev_utterances 	400
feasible_next_placements	True
stop_after_n        	2
dropout_rnn         	0.5 0.75
dropout_counter     	0.75
rnn                 	gru
rnn_hidden_size     	300
num_encoder_hidden_layers	2
num_decoder_hidden_layers	1
bidirectional       	True
train_embeddings    	True
counter_embedding_size	15
counter_embedding_layer_nonlinearity	relu
pre_concat_counter_reprs	True
set_decoder_hidden  	True
concatenate_decoder_inputs	True
decoder_input_concat_size	15