num_prev_utterances 	400
feasible_next_placements	True
stop_after_n        	2
dropout					0.5
rnn_hidden_size     	300
num_encoder_hidden_layers	1 2
num_decoder_hidden_layers	1
bidirectional       	True
counter_embedding_size	10
pre_concat_counter_reprs	True
set_decoder_hidden  	True
concatenate_decoder_inputs	True
decoder_input_concat_size	10
counters_extra_feasibility_check True
saved_dataset_dir		/shared/data/cwc/scratch/lower-no_perspective_coords-fixed