num_prev_utterances 	400
feasible_next_placements	True
action_type_sensitive	True
stop_after_n        	2
dropout_rnn         	0.0 0.25 0.5 0.75
dropout_nae         	0.5 0.75
rnn                 	gru
rnn_hidden_size     	300
num_encoder_hidden_layers	1
num_decoder_hidden_layers	2
bidirectional       	True
train_embeddings    	False
block_embedding_size	30
block_embedding_layer_nonlinearity	relu
use_gold_actions    	False
set_decoder_hidden  	True
concatenate_decoder_inputs	True
decoder_input_concat_size	60