model               	utterances_and_block_region_counters
model_path          	../models/
pretrained_models_dir	None
saved_dataset_dir   	../data/saved_cwc_datasets/lower-no_perspective_coords-fixed/
decoder_vocab_path  	../vocabulary/glove.42B.300d-lower-2r-speaker-train_split-architect_only/vocab.pkl
encoder_vocab_path  	../vocabulary/glove.42B.300d-lower-1r-speaker-oov_as_unk-all_splits/vocab.pkl
data_dir            	../data/logs/
gold_configs_dir    	../data/gold-configurations/
vocab_dir           	../vocabulary/
load_dataset        	True
add_builder_utterances	False
augment_dataset     	False
augmentation_factor 	0
exactly_k           	False
strict              	False
num_prev_utterances 	400
blocks_max_weight   	1
use_builder_actions 	False
feasible_next_placements	True
use_condensed_action_repr	False
action_type_sensitive	False
spatial_info_window_size	1
use_existing_blocks_counter	False
counters_extra_feasibility_check	True
ignore_diff         	False
augmented_data_fraction	0.0
num_epochs          	40
save_per_n_epochs   	1
stop_after_n        	2
log_step            	1000
batch_size          	1
num_workers         	0
seed                	1234
development_mode    	False
visualize           	False
suppress_logs       	False
learning_rate       	0.0001
decay_lr            	False
encoder_decay_factor	0.1
decoder_decay_factor	0.1
decay_patience      	2
decoder_learning_ratio	1.0
teacher_forcing_ratio	1.0
clip                	5.0
l2_reg              	0
dropout             	0
dropout_rnn         	0.0
dropout_nae         	None
dropout_counter     	0.5
rnn                 	gru
rnn_hidden_size     	300
num_encoder_hidden_layers	2
num_decoder_hidden_layers	1
bidirectional       	True
decoder_linear_size 	None
decoder_nonlinearity	None
encoder_linear_size 	None
encoder_nonlinearity	None
attn_model          	none
train_embeddings    	True
pretrained_decoder  	False
pretrained_and_augmented	False
world_state_hidden_size	100
world_state_num_hidden_layers	1
world_state_bidirectional	False
block_embedding_size	20
block_embedding_layer_nonlinearity	relu
use_gold_actions    	False
bypass_block_embedding	False
pre_concat_block_reprs	False
counter_embedding_size	150
counter_embedding_layer_nonlinearity	relu
use_separate_counter_encoders	False
pre_concat_counter_reprs	True
bypass_counter_embedding	False
use_global_counters 	True
use_separate_global_embedding	True
global_counter_embedding_size	18
use_shared_cnn      	False
num_conv_layers     	1
num_output_channels 	16
cnn_kernel_size     	3
bn                  	False
maxpool             	False
maxpool_kernel_size 	2
num_fc_layers       	1
fc_output_size      	400
encode_prev_utterances	False
append_perspective_coords	False
include_empty_channel	False
use_diff_type_dists 	False
built_diff_features 	None
gold_diff_features  	None
encode_next_actions 	False
set_decoder_hidden  	True
concatenate_decoder_inputs	True
concatenate_decoder_hidden	False
decoder_input_concat_size	168
decoder_hidden_concat_size	0
advance_decoder_t0  	False
